<div>
  <button mat-raised-button routerLink="/home">Add Another</button>
</div>
<div class="example-header">
  <mat-form-field>
    <input
      matInput
      placeholder="Seacher Here ..."
      (keyup)="applyFilter($event)"
      [(ngModel)]="searchKey"
    />
  </mat-form-field>
  <mat-form-field *ngFor="let filter of filterSelectObj">
    <mat-label>Filter {{ filter.name }}</mat-label>
    <select
      matNativeControl
      name="{{ filter.columnProp }}"
      [(ngModel)]="filter.modelValue"
      (change)="filterChange(filter, $event)"
    >
      <option value="">-- Select {{ filter.name }} --</option>
      <option [value]="item" *ngFor="let item of filter.options">
        {{ item }}
      </option>
    </select>
  </mat-form-field>
  &nbsp;
  <button mat-flat-button color="warn" (click)="resetFilters()">Reset</button>
</div>

<div class="example-container mat-elevation-z8">
  <mat-table [dataSource]="obs | async" matSort>
    <!-- ID Column -->
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Name
      </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.firstName }} </mat-cell>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Email
      </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.email }} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="State">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        State
      </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.State }} </mat-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        City
      </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.city }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
