<div>
  <div>
    <mat-card style="height: 300px; width: 600px">
      <form [formGroup]="empForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-4">
            <mat-form-field appearance="legacy">
              <mat-label>FirstName </mat-label>
              <input matInput formControlName="firstName" />
              <mat-error>
                <div
                  *ngIf="empForm.get('firstName')?.errors?.['required']"
                  class="warn"
                >
                  firstName is mandatory.
                </div>
                <div
                  *ngIf="
                empForm.get('firstName')?.errors?.['minlength'] 
                    "
                  class="warn"
                >
                  firstName be atleast
                  {{
                  empForm.get("firstName")?.errors?.['minlength'].requiredLength
                  }}
                  characters.
                </div>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field>
              <mat-label>lastName </mat-label>
              <input
                matInput
                formControlName="lastName"
                placeholder="lastName"
              />
              <mat-error>
                <div
                  *ngIf="empForm.get('lastName')?.errors?.['required']"
                  class="warn"
                >
                  lastName is mandatory.
                </div>
                <div
                  *ngIf="
                empForm.get('lastName')?.errors?.['minlength'] 
                    "
                  class="warn"
                >
                  lastName must be atleast
                  {{
                  empForm.get("lastName")?.errors?.['minlength'].requiredLength
                  }}
                  characters.
                </div>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field>
              <mat-label>Email:</mat-label>
              <input matInput formControlName="email" />
              <div
                *ngIf="empForm.get('email')?.errors?.['touched']"
                class="warn"
              >
                Required
              </div>
              <div
                *ngIf="empForm.get('email')?.errors?.['pattern']"
                class="warn"
              >
                Enter valid email
              </div>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <mat-form-field>
              <mat-label>State:</mat-label>
              <mat-select
                formControlName="State"
                (selectionChange)="onSelect($event.value)"
              >
                <mat-option
                  *ngFor="let st of states[99].states"
                  [value]="st.name"
                >
                  {{ st.name }}
                </mat-option>
                <div
                  *ngIf="empForm.get('State')?.errors?.['required']"
                  class="warn"
                >
                  Select the State
                </div>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-4">
            <mat-form-field>
              <mat-label>city:</mat-label>
              <mat-select formControlName="city">
                <mat-option *ngFor="let ci of city | valueArray" [value]="ci">
                  {{ ci }}
                </mat-option>
              </mat-select>
              <div
                *ngIf="empForm.get('city')?.errors?.['required']"
                class="warn"
              >
                Select the City
              </div>
            </mat-form-field>
          </div>
        </div>

        <button mat-raised-button type="submit">Submit</button>
      </form>
    </mat-card>
  </div>
  <!-- <pre>{{ states | json }}</pre> -->
</div>
